.kick-the-habit-header {

  h1 {
    text-transform: uppercase;
    position: relative;
    margin:  20px auto;
    padding: 10px 40px;
    text-align: center;
    background-color: var(--color-tertiary-400);
    text-shadow: 2px 2px 5px var(--color-tertiary-800);
    width: 400px;
  }

  h1::before,
  h1::after {
    content: "";
    width: 80px;
    height: 100%;
    background-color: var(--color-tertiary-500);
    position: absolute;
    z-index: -1;
    top: 20px;
    clip-path: 
    polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
    background-image: 
    linear-gradient(45deg, transparent 50%, var(--color-tertiary-800) 50%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  h2 {
    background-color: var(--color-tertiary-700);
  }
}