h1 {
  color: var(--color-primary-100);
  background-color: var(--color-primary-500);
}

h2 {
  color: var(--color-primary-100);
  background-color: var(--color-primary-700);
}

.wellness-activity {
  margin: 0 auto;
  max-width: 640px;
  aspect-ratio: 1/1;
  max-height: 80dvh;
  border: 3px solid var(--color-primary-400);
  background-color: var(--color-primary-100);
  color: var(--color-primary-700);

  h2 {
    margin: 0 auto;
    width: calc(100% - .5rem);
    color: var(--color-primary-100);
    background-color: var(--color-primary-700);
  }

  .iconify {
    color: var(--color-primary-400);
  }

  form {
    margin: auto;
    padding: 2rem;
    max-width: 400px;
    border: 2px solid var(--color-primary-400);
    display: grid;

    input {
      border: 2px solid var(--color-primary-400);
      background-color: var(--color-primary-100);
      padding: .5rem;
      font-family: 'DynaPuff', system-ui;
      font-size: 1.25rem;
    }

    button {
      margin: 0;
      color: var(--color-primary-100);
      border: 2px solid var(--color-primary-800);
      background-color: var(--color-primary-700);
      padding: .5rem;
      font-family: 'DynaPuff', system-ui;
      font-size: 1.25rem;
      cursor: pointer;

      &:hover {
        background-color: var(--color-primary-600);
      }

      &:first-of-type {
        margin: 1rem 0;
      }

    }
  }
}

.wellness-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 640px;
  max-height: 80dvh;
  border: 2px solid var(--color-primary-400);
  
  .grid-item {
    box-sizing: border-box;
    aspect-ratio: 1/1;
    border: 2px solid var(--color-primary-400);
    background-color: var(--color-primary-100);
    cursor: pointer;
    transition: all .25s;

    h3 {
      color: var(--color-primary-600)
    }

    &:hover {
      background-color: var(--color-primary-300);

      h3 {
        color: var(--color-primary-700)
      }

      .iconify {
        color: var(--color-primary-700);
      }
    }

    .iconify {
      color: var(--color-primary-400);
    }
  }
}

  dialog::backdrop {
    background-color: rgba(99, 99, 99, .5);
  }


.wellness-footer {
  p {
    margin: 0 auto 4rem;
    color: var(--color-primary-100);
    background-color: var(--color-primary-700);
    padding: .75rem;
    width: 500px;
    clip-path: polygon(0 0, 100% 0, 98% 50%, 100% 100%, 0 100%, 2% 50%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.wellness-score-table {
  margin: auto;
  max-width: 640px;
  border: 3px solid var(--color-primary-400);
}

.wellness-list {
  width: fit-content;
  max-width: 640px;
  margin: 1rem auto 10rem;
  border: 1px solid var(--color-primary-500);

  .wellness-row {
    display: grid;
    grid-template-columns: 3fr 5fr auto;
    align-items: center;
    text-align: left;
    border: 1px solid var(--color-primary-500);
    text-align: center;
    width: 540px;
    
    * {
      height: fit-content;
      padding: .5rem 2rem;
      border-right: 2px solid var(--color-primary-500);
    }

    *:last-child {
      border-right: none;

      &:hover {
        background-color: var(--color-primary-300);
        cursor: pointer;

        span {
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}