@import 'tokens.css';
@import 'components/wellness.css';
@import 'components/kickTheHabit.css';
@import 'responsive.css';

:root {
  font-family: 'DynaPuff', system-ui;
  background-color: var(--color-primary-200);
}

pre {
  text-align: left;
  width: fit-content;
  margin: 1rem auto;
  border: 1px solid black;
  background-color: darkgray;
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  position: relative;
  margin:  20px auto;
  padding: 10px 40px;
  text-align: center;
  background-color: var(--color-primary-400);
  text-shadow: 2px 2px 5px var(--color-primary-800);
  width: 400px;
}

h1::before,
h1::after {
  content: "";
  width: 80px;
  height: 100%;
  background-color: var(--color-primary-500);
  position: absolute;
  z-index: -1;
  top: 20px;
  clip-path: 
  polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
  background-image: 
  linear-gradient(45deg, transparent 50%, var(--color-primary-800) 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1::before {
    left: -60px;
}

h1::after {
    right: -60px;
    transform: scaleX(-1);
}

h2 {
  font-size: 1rem;
  width: 380px;
  padding: .25rem;
  margin: -1.5rem auto 1rem;
}