:root {

  --color-primary-50: #fbf1f4;
  --color-primary-100: #f8e3e8;
  --color-primary-200: #f2cad5;
  --color-primary-300: #ecadbf;
  --color-primary-400: #e892ad;
  --color-primary-500: #e37198;
  --color-primary-600: #ca4679;
  --color-primary-700: #963259;
  --color-primary-800: #69213d;
  --color-primary-900: #3c0f20;
  --color-primary-950: #280714;

  --color-secondary-50: #f0f4fc;
  --color-secondary-100: #dde6f9;
  --color-secondary-200: #b9cdf3;
  --color-secondary-300: #93b5ed;
  --color-secondary-400: #679de7;
  --color-secondary-500: #4c86ce;
  --color-secondary-600: #3b6aa4;
  --color-secondary-700: #2a4f7c;
  --color-secondary-800: #1b3656;
  --color-secondary-900: #0d1e34;
  --color-secondary-950: #071424;
  
  --color-tertiary-50: #e6fad9;
  --color-tertiary-100: #d1f6b5;
  --color-tertiary-200: #b6e192;
  --color-tertiary-300: #a5cd85;
  --color-tertiary-400: #92b675;
  --color-tertiary-500: #82a268;
  --color-tertiary-600: #657f50;
  --color-tertiary-700: #4b5f3b;
  --color-tertiary-800: #314026;
  --color-tertiary-900: #1b2414;
  --color-tertiary-950: #0f150a;

}